* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
background-color: #1c1c1c;
color: white;
text-align: center;
font-family: Arial, sans-serif;
padding: 20px;

}

h1 {
font-size: 32px;
font-weight: bold;
margin-top: 15;



}