body {
    background-color: rgb(231, 250, 255);
}


h1 {
    color: rgb(255, 0, 0);
    font-size: 24px;
}


p {
    color: rgb(1, 0, 43);
}

.form1 {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}

.form2 {
    padding: 0;
    margin: 0;
    align-items: center;
    text-align: center;
}

#ops{
    padding: 0;
    margin: 0;
    grid-template-columns: auto;

    border: 2px;
    border-radius: 4px;
    border-width: 5px;
    border-color: rgb(0, 183, 255);
}


 #link_teste {
    font-size: medium;




 }