body{
background-color: #f0f0f0;
font: arial, Helvetica, sans-serif;
margin: auto;
padding: 0%;
}

main{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
gap: 20px;
fill: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
nav ul{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: center;
gap: 20px;
fill: 20px;
list-style-type: none;
}

header, footer {
background-color:  #007bff;
text-align:  #007bff center;
fill: 20px;
}

article{
background-color: #fff;
fill: 20px;
border-radius: 5px;
width: 300px;
border: 1px solid black;
}

nav ul li{
background-color: #006bde ;
fill: 10px;
border-radius: 5px;
align-items: center;
margin: none;
padding: auto;
}

nav ul li a{
color: #ffffff;
text-decoration: none;
text-align:  #ffd700;
font-weight:bold ;

}